.main {
	&__technologies {
		padding-top: 100px;
		@media (max-width: 991.98px) {
			padding-top: 35px;
		}
		@media (max-width: 767.98px) {
			padding-top: 60px;
		}
		@media (max-width: 479.98px) {
			padding-top: 56px;
		}
	}
}
.technologies-block {
	&__container {
	}

	&__body {
	}

	&__plate {
		position: relative;
		background: url(/img/technologies/bg-technologies.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		min-height: 300px;
		margin-bottom: 30px;
		@media (max-width: 767.98px) {
			min-height: 200px;
			margin-bottom: 50px;
		}
		@media (max-width: 479.98px) {
			min-height: 163px;
			width: 300px;
			background-size: cover;
			border-radius: 80px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}

	&__title {
		padding-top: 100px;
		text-align: center;
		font-weight: 700;
		font-size: 36px;
		line-height: 122.222222%; /* 44/36 */
		margin-bottom: 11px;
		@media (max-width: 767.98px) {
			font-size: 16px;
			padding-top: 60px;
		}
	}

	&__subtitle {
		text-align: center;
		font-style: normal;
		font-weight: 300;
		font-size: 36px;
		line-height: 122.222222%; /* 44/36 */
		@media (max-width: 767.98px) {
			font-size: 24px;
		}
	}

	&__arrow {
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		border-radius: 50%;
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			transform: rotate(90deg);
		}
		@media (max-width: 991.98px) {
			bottom: 25px;
		}
		@media (max-width: 767.98px) {
			display: none;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__column {
		position: relative;
		display: flex;
		justify-content: center;
		img {
			width: 174px;
		}
	}
	&__swiper-button-next {
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		border-radius: 50%;
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 2;
		@media (min-width: 1024px) {
			display: none;
		}
	}
	&__swiper-button-prev {
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		border-radius: 50%;
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;
		@media (min-width: 1024px) {
			display: none;
		}
	}
}
